<mat-list>
    <mat-list-item (click)="openDialogToView()" class="example-ripple-container mat-elevation-z0"
    matRipple *ngFor="let student of students">
    
    <img matListAvatar src="{{student.imgUrl}}" alt="{{student.name}}">
    <div mat-line>{{student.name | uppercase}} </div>
      <div mat-line> {{student.email | lowercase}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>

<div class="fab">
  <button mat-fab (click)="openDialog()" color="accent">
    <mat-icon>person_add</mat-icon>
  </button>
</div>
  