<mat-grid-list cols="4" rowHeight="4:2">
    <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>Total Students </mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">11 </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <!-- <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>Microsoft Placed</mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">3542 </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>Amazon Placed</mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">3542 </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>Google Placed</mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">3542 </mat-card-content>
        </mat-card>
    </mat-grid-tile> -->
    <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>ME Department </mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">542 </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>CSE Department</mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">25 </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>IT Department</mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">54 </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>EE Department</mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">36 </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>ECE Department</mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">85 </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>Total Faculty</mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">54 </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <!-- <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>Current Job</mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">3542 </mat-card-content>
        </mat-card>
    </mat-grid-tile> -->
    <mat-grid-tile>
        <mat-card style="width: 300px; text-align: center;">
            <mat-card-title>MTech Students</mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            <mat-card-content class="mat-display-3">125 </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    
    
  </mat-grid-list>
  